.index__menus {

}

.index__menus-tabs {
  height: 80rpx;
  margin: 0 40rpx;
  box-sizing: border-box;
  position: relative;
}

.index__menus-tabs-inner {
  display: flex;
}

.index__menus-tabs-line {
  position: absolute;
  height: 4rpx;
  width: 15%;
  background-color: rgb(189, 169, 80);
  bottom: 0;
  transform: translateX(-50%);
  transition: left .5s;
}

.index__menu-item-tab {
  flex: 1;
  font-size: 30rpx;
  text-align: center;
  color: rgb(212, 212, 212);
  line-height: 80rpx;
  position: relative;
}



.index__menu-item-tab:active {
  opacity: 0.7;
}

.index__menu-item-tab::after {
  content: "";
  background-color: rgb(102, 103, 103);
  position: absolute;
  height: 30%;
  top: 50%;
  right: 0;
  width: 2rpx;
  transform: translate(0, -50%);
}

.index__menu-item-tab:last-child::after {
  display: none;
}

.index__menu-item-tab_active {
  color: rgb(189, 169, 80);
  position: relative;
}

.index__menu-item-content {
  display: none;
}

.index__menu-item-content_active {
  display: block;
}