.index__movies-card {
  margin-bottom: 30rpx;
}

.index__movies-card:active {
  opacity: .7;
}

.index__movies-card-cover {
  border-radius: 32rpx;
  height: 310rpx;
  background: rgb(23, 23, 18);
  box-shadow: 0 10rpx 50rpx rgba(0, 0, 0, .3);
  overflow: hidden;
}


.index__movies-card-cover-image {
  height: 100%;
  width: 100%;
}


.index__movies-card-meta {
  margin-top: 30rpx;
  font-size: 24rpx;
  color: rgb(180, 180, 180);
}

.index__movies-card-name {
  font-size: 30rpx;
  font-weight: 500;
  color: rgb(0, 0, 0);
}